body{
    background-color:#48466D;
    color: rgb(237, 237, 237);
    justify-content: center;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

header{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    text-shadow: 0px 3px #181823;
    position: fixed;
    color: #d1faff;
    background-color: #181823;
    height: 5rem;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 99999;
}

.scroll-cont{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(5rem) translateX(0.1rem);
    background-color: #181823cd;
    width: 1rem;
    height: 70%;
    border-radius: 9px;
    
}



.scroll{
    background-color: #d9d9d9b8;
    width: 0.9rem;
    margin-left: 0.05rem;
    height: 10%;
    border-radius: 10px;
    border-style: none;
}

.scroll.selected{
    height: 20%;
    background-color: #d9d9d9;
    animation: scrollsec 0.4s ease-in-out 0s 1 normal forwards;
}

main{
    margin-top: 4rem;
}

main section{
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Arvo', serif;
    color: #1f1f1f;
    border-radius: 4px;
    height: 86vh;
    width: 100%;
    padding-top: 6rem;
}

.seccion1{
    background-color:#46CDCF;
}

.sec1wrapper{
    display: flex;
    justify-content: space-around;
}

.sec1text{
    margin-left: 2rem;
}

.gifsec1{
    height: 25rem;
    width: 25rem;
    transform: translateY(-5rem);
}

.cuadrados {
    display: flex;
    justify-content: center;
}

.cuadrado {
    color: #d1faff;
    width: 60%;
    height: 15rem;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #1f1f1f;
    transform: scale(0);
    justify-content: center;
}

.cuadrado.escondiendose1 {
    animation: desplazamiento_out 0.7s ease-in-out 0s 1 normal forwards;
}

.cuadrado.mostrando1 {
    position: absolute;
    justify-self: center;
    transform: scale(1);
    background-color: #1f1f1f;
    animation: desplazamiento 0.7s ease-in-out 0s 1 normal forwards;
}

.slider_button{

    height: 5rem;
    width: 5rem;
    margin: 1%;
    background-color: transparent;
    background-image: url(assets/arrow.png);
    background-size: 5rem;
    background-repeat: no-repeat;
    border-width: 0;
    transform: scaleX(-1);
    transform: rotate(90deg);
    cursor: pointer;
}

.cuadrado1 {
background-color:#1f1f1f ;
}

.cuadrado2 {
background-color: #1f1f1f ;
}

.cuadrado3 {
background-color: #1f1f1f ;
}


.seccion2{
    background-color:#52aedc;
}

.seccion3{
    background-color:#ABEDD8;
}

.bar{
    margin: 10% 10%;
    background-color: #3D84A8;
    height: 1rem;
    width: 80%;
    border-radius: 10px;
}

.bar2{
    background-color: #e8e8e8;
    transform: translateY(0.09rem);
    margin-left: 0.1rem;
    height: 0.8rem;
    border-radius: 10px;
    animation: barra 2s ease-in-out 0s 1 normal forwards;
}

.bar2.cpp{
    width: 70%;
}

.bar2.htmlcss{
    width: 90%;
}

.bar2.js{
    width: 20%;
}

.bar2.python{
    width: 40%;
}
/*////////////////ANIMATIONS\\\\\\\\\\\*/

@keyframes desplazamiento {
    0%{
        transform: scaleY(0);
        transform-origin: 0% 100%;
    }

    100%{
        transform: scaleY(1);
        transform-origin: 0% 100%;
    }
}

@keyframes barra {
    0%{
        transform: scaleX(0);
        transform-origin: 0% 0%;
    }

    100%{
        transform: scaleY(1);
        transform: translateY(0.09rem);
        transform-origin: 0% 0%;
    }
}

@keyframes desplazamiento_out {
    0%{
        position: absolute;
        justify-self: center;
        transform: scaleY(1);
        transform-origin: 100% 0%;
    }

    99%{
        position: absolute;
        transform: scaleY(0);
        transform-origin: 100% 0%;
    }

    100%{
        transform: scaleY(0);
        transform-origin: 100% 0%;
    }
}

@keyframes scrollsec {
    0%{
        transform: scaleY(0.5);
        transform-origin: 50% 50%;
        background-color: #d9d9d9b8;
    }

    100%{
        transform: scaleY(1);
        transform-origin: 50% 50%;
        background-color: #d9d9d9;
    }
}
/*//////////////// MEDIA QUERIES\\\\\\\\\\\*/

/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
    header {
      font-size: 1.5rem;
    }
    .gifsec1 {
      height: 15rem;
      width: 15rem;
    }
    .cuadrados {
      flex-direction: column;
    }
    .cuadrado {
      width: 90%;
      margin-top: 1rem;
      height: 10rem;
    }
    .bar {
      margin: 5% 10%;
      width: 80%;
    }
  }
  
  /* Styles for screens between 768px and 991px */
  @media (min-width: 768px) and (max-width: 991px) {
    header {
      font-size: 1.8rem;
    }
    .gifsec1 {
      height: 20rem;
      width: 20rem;
    }
    .cuadrados {
      flex-direction: column;
    }
    .cuadrado {
      width: 80%;
      margin-top: 1rem;
      height: 12rem;
    }
    .bar {
      margin: 5% 10%;
      width: 80%;
    }
  }
  
  /* Styles for screens between 992px and 1199px */
  @media (min-width: 992px) and (max-width: 1199px) {
    header {
      font-size: 2rem;
    }
    .gifsec1 {
      height: 25rem;
      width: 25rem;
    }
    .cuadrados {
      flex-direction: row;
    }
    .cuadrado {
      width: 40%;
      margin-top: 1rem;
      height: 15rem;
    }
    .bar {
      margin: 10% 10%;
      width: 80%;
    }
  }
  
  /* Styles for screens larger than 1200px */
  @media (min-width: 1200px) {
    header {
      font-size: 2.5rem;
    }
    .gifsec1 {
      height: 30rem;
      width: 30rem;
    }
    .cuadrados {
      flex-direction: row;
    }
    .cuadrado {
      width: 30%;
      margin-top: 1rem;
      height: 20rem;
    }
    .bar {
      margin: 10% 10%;
      width: 80%;
    }
  }